<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
             data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a routerLink="/home">Home</a>
                    <a routerLink="/find">Find Buddy</a>
                </div>
                <h2>Find Buddy</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Welcome Area =================-->
<section>
    <div class="container center">
        <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
                      [showNavigationIndicators]="showNavigationIndicators">
            <ng-template ngbSlide *ngFor="let image of images">
                <div class="text-center">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-responsive img-circle" width="327px" height="327px"
                         alt="avatar">

                    <div class="carousel-caption">
                        <!--<h3>{{user.firstName + ' ' + user.lastName + ', ' + user.birthday}}</h3>-->
                        <p>This carousel hides navigation arrows and indicators.</p>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</section>
<!--================End Welcome Area =================-->
        