<!--================Home Banner Area =================-->
<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="banner_content">
        <h2>Find me A Buddy!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
        <a class="banner_btn" [routerLink]="['/register']">Register</a>
        <p></p>
        <a class="banner_btn" routerLink="/login">Login</a>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->