<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
             data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a routerLink="/home">Home</a>
                    <a routerLink="/register">Register</a>
                </div>
                <h2>REGISTER</h2>
            </div>
        </div>
    </div>
</section>
<div class="container bg-transparent">
    <div class="welcome_inner row py-4">
        <div class="col-lg-5">
            <div class="welcome_img">
                <img class="img-fluid" src="assets/theme/img/register.jpeg" alt="">
            </div>
        </div>
        <div class="col-lg-6 offset-lg-1">
            <div class="welcome_text">
                <h2>Register</h2>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="firstName">First Name</label>
                            <input type="text" formControlName="firstName" class="form-control"
                                   [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName">Last Name</label>
                            <input type="text" formControlName="lastName" class="form-control"
                                   [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="ngbDatepicker">Birthday</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" formControlName="birthday"
                                       name="dp" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                            type="button"><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="city">City</label>
                            <select class="form-control" formControlName="city">
                                <option>Bucharest</option>
                                <option>Timisoara</option>
                                <option>Iasi</option>
                                <option>Cluj</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="country">Country</label>
                            <select class="form-control" formControlName="country">
                                <option>Romania</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" formControlName="email" class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-lg btn-outline-primary" (click)="open(content)">Select Your
                            Hobbies
                        </button>
                    </div>

                    <!--START MODAL-->
                    <ng-template #content let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Please Select 5 hobbies</h4>
                            <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body pre-scrollable">
                            <div class="row">
                                <div formArrayName="hobbies" class="form-check col-md-3"
                                     *ngFor="let hobby of registerForm.controls.hobbies.controls; let i = index">
                                    <input type="checkbox" class="form-check-input" [formControlName]="i" id="i"
                                           (change)="checkboxChange($event, i)">
                                    <label class="form-check-label" for="i">
                                    </label>
                                    <img src="{{hobbies[i].link}}">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">
                                Save
                            </button>
                        </div>
                    </ng-template>
                    <!--END MODAL-->

                    <div class="form-group">
                        <button [disabled]="loading" type="submit" class="btn btn-primary">Register</button>
                        <img *ngIf="loading"
                             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                        <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!--=================================-->

        